body{
    background: url(../images/fondo.jpg) repeat ;
}
h1{
	margin:5px;
	padding: 5px;
}
/***********************************************/
nav{
    margin:  55px 88px;
}
nav a{
    border-right: red solid 1px;
    margin:1px;
}
/***********************************************/
#banner {
    padding-left: 20%;
}
#banner img{
    border: red solid 2px;
    border-radius: 0.5em;
}
#datos{
    padding-left: 172px;
}
/**********************************************/
footer{
	margin-left: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: inherit;
    height: 65px;

}
#anualidades,#interes,#amortizacion,#gradiantes{
	margin-left: 220px;
}
#textos{
	font-size: 1.3em;
	border-left:red solid 1px;
	padding-left: 10px;
	text-align: justify;
}
#textosi{
	font-size: 1.2em;
	border-left:red solid 1px;
	padding-left: 10px;
	text-align: justify;
}

#textos a,#textosi a{
	text-align: right;
}
.alert_error {
    margin-left: 220px;
    color: red;
    font-weight: bold;
    font-size: medium;
}
#tabla{
    border: dodgerblue solid 3px;
    border-radius: 0.5em;
    padding: 10px;
}
#tabla th {
    border: dodgerblue solid 3px;
    border-radius: 0.5em;
    padding: 10px;
}
#tabla td{
    border: #b1b7ba solid 3px;
    border-radius: 0.5em;
    padding: 10px;
}
#btn{
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
    background: dodgerblue;

}
